@{
    ViewBag.Title = "Home Page";
}


<div>
    <h1 class="ribbon" style="display:none;">
        <strong class="ribbon-content">Welcome to The New Facebook</strong>
    </h1>
</div>

<div class="jumbotron" id="jumbo1" style="display:none; position:relative;">
    <h1>Here anything is possible</h1>

</div>
<div class="jumbotron" id="jumbo2" style="display:none; position:relative;">
    <h1>Meet friends</h1>

</div>
<div class="jumbotron" id="jumbo3" style="display:none; position:relative;">
    <h1>Join groups</h1>

</div>

